In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os
print(os.listdir())

import warnings
warnings.filterwarnings('ignore')

/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

['mandelbrot', '.bash_profile.bak2', 'MPI_with_OpenMP_or_DPCPP', '.ssh', 'tmp', 'OpenMP_Offload', '.bash_profile.bak', 'xpublog', '.jupyter', '.bashrc', '.ipython', 'RenderKit_Learning_Path', 'Welcome.ipynb', 'Untitled.ipynb', 'Dataset', '.ipynb_checkpoints', '.bash_profile', '.bash_logout', 'Hough_Transform_on_FPGAs_Using_oneAPI', '.cache', 'Intel_oneAPI_MKL_Training', '.config', 'SYCL_Performance_Portability', '.local', 'AI_Kit_XGBoost_Predictive_Modeling', 'Project_1_heart_data.ipynb', 'oneAPI_Essentials']

Verifying it as a 'dataframe' object in pandas

In [2]:
dataset = pd.read_csv("Dataset/heart.csv")

Description

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.shape

(1025, 14)

In [5]:
dataset.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
431,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
122,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0
852,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
441,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0
983,64,1,0,128,263,0,1,105,1,0.2,1,1,3,1

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
info = ["age","1: male, 0: female","chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic","resting blood pressure"," serum cholestoral in mg/dl","fasting blood sugar > 120 mg/dl","resting electrocardiographic results (values 0,1,2)"," maximum heart rate achieved","exercise induced angina","oldpeak = ST depression induced by exercise relative to rest","the slope of the peak exercise ST segment","number of major vessels (0-3) colored by flourosopy","thal: 3 = normal; 6 = fixed defect; 7 = reversable defect"]

for i in range(len(info)):
    print(dataset.columns[i]+":\t\t\t"+info[i])

age:			age
sex:			1: male, 0: female
cp:			chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic
trestbps:			resting blood pressure
chol:			 serum cholestoral in mg/dl
fbs:			fasting blood sugar > 120 mg/dl
restecg:			resting electrocardiographic results (values 0,1,2)
thalach:			 maximum heart rate achieved
exang:			exercise induced angina
oldpeak:			oldpeak = ST depression induced by exercise relative to rest
slope:			the slope of the peak exercise ST segment
ca:			number of major vessels (0-3) colored by flourosopy
thal:			thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [9]:
dataset["target"].describe()

count    1025.000000
mean        0.513171
std         0.500070
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: target, dtype: float64

In [10]:
dataset["target"].unique()

array([0, 1])

In [11]:
print(dataset.corr()["target"].abs().sort_values(ascending=False))

target      1.000000
oldpeak     0.438441
exang       0.438029
cp          0.434854
thalach     0.422895
ca          0.382085
slope       0.345512
thal        0.337838
sex         0.279501
age         0.229324
trestbps    0.138772
restecg     0.134468
chol        0.099966
fbs         0.041164
Name: target, dtype: float64

Exploratory Data Analysis (EDA)

Analysing the target variable:

In [13]:
y = dataset["target"]

target_temp = dataset.target.value_counts()

print(target_temp)

1    526
0    499
Name: target, dtype: int64

In [14]:
print("Percentage of patience without heart problems: "+str(round(target_temp[0]*100/303,2)))
print("Percentage of patience with heart problems: "+str(round(target_temp[1]*100/303,2)))

Percentage of patience without heart problems: 164.69
Percentage of patience with heart problems: 173.6

Analysing the 'Sex' feature

In [15]:
dataset["sex"].unique()

array([1, 0])

Analysing the 'Chest Pain Type' feature

In [16]:
dataset["cp"].unique()

array([0, 1, 2, 3])

Normal DT

In [17]:
from sklearn.model_selection import train_test_split

predictors = dataset.drop("target",axis=1)
target = dataset["target"]

X_train,X_test,Y_train,Y_test = train_test_split(predictors,target,test_size=0.15,random_state=0)

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [18]:
X_train.shape

(871, 13)

In [19]:
X_test.shape

(154, 13)

In [20]:
Y_train.shape

(871,)

In [21]:
Y_test.shape

(154,)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

max_accuracy = 0


for x in range(200):
    dt = DecisionTreeClassifier(random_state=x)
    dt.fit(X_train,Y_train)
    Y_pred_dt = dt.predict(X_test)
    current_accuracy = round(accuracy_score(Y_pred_dt,Y_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_x = x
        
#print(max_accuracy)
#print(best_x)


dt = DecisionTreeClassifier(random_state=best_x)
dt.fit(X_train,Y_train)
Y_pred_dt = dt.predict(X_test)

score_dt = round(accuracy_score(Y_pred_dt,Y_test)*100,2)

print("The accuracy score achieved using Decision Tree is: "+str(score_dt)+" %")

The accuracy score achieved using Decision Tree is: 100.0 %

In [23]:
from sklearn import tree
t_r = tree.export_text(dt)
print(t_r)

|--- feature_2 <= 0.50
|   |--- feature_11 <= 0.50
|   |   |--- feature_12 <= 2.50
|   |   |   |--- feature_7 <= 119.50
|   |   |   |   |--- class: 0
|   |   |   |--- feature_7 >  119.50
|   |   |   |   |--- feature_8 <= 0.50
|   |   |   |   |   |--- feature_4 <= 316.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_4 >  316.50
|   |   |   |   |   |   |--- feature_0 <= 61.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_0 >  61.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_8 >  0.50
|   |   |   |   |   |--- feature_6 <= 0.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_6 >  0.50
|   |   |   |   |   |   |--- feature_10 <= 1.50
|   |   |   |   |   |   |   |--- feature_3 <= 115.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_3 >  115.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_10 >  1.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |--- feature_12 >  2.50
|   |   |   |--- feature_9 <= 0.65
|   |   |   |   |--- feature_0 <= 50.50
|   |   |   |   |   |--- feature_6 <= 0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_6 >  0.50
|   |   |   |   |   |   |--- feature_0 <= 41.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_0 >  41.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_0 >  50.50
|   |   |   |   |   |--- feature_1 <= 0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_1 >  0.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_9 >  0.65
|   |   |   |   |--- class: 0
|   |--- feature_11 >  0.50
|   |   |--- feature_3 <= 109.00
|   |   |   |--- feature_4 <= 233.50
|   |   |   |   |--- class: 1
|   |   |   |--- feature_4 >  233.50
|   |   |   |   |--- class: 0
|   |   |--- feature_3 >  109.00
|   |   |   |--- feature_4 <= 301.50
|   |   |   |   |--- feature_7 <= 105.50
|   |   |   |   |   |--- feature_9 <= 0.60
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_9 >  0.60
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_7 >  105.50
|   |   |   |   |   |--- class: 0
|   |   |   |--- feature_4 >  301.50
|   |   |   |   |--- feature_4 <= 303.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_4 >  303.50
|   |   |   |   |   |--- class: 0
|--- feature_2 >  0.50
|   |--- feature_12 <= 2.50
|   |   |--- feature_0 <= 55.50
|   |   |   |--- feature_9 <= 3.55
|   |   |   |   |--- feature_4 <= 153.00
|   |   |   |   |   |--- feature_1 <= 0.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_1 >  0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_4 >  153.00
|   |   |   |   |   |--- feature_3 <= 109.00
|   |   |   |   |   |   |--- feature_4 <= 232.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_4 >  232.50
|   |   |   |   |   |   |   |--- feature_6 <= 0.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_6 >  0.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_3 >  109.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_9 >  3.55
|   |   |   |   |--- class: 0
|   |   |--- feature_0 >  55.50
|   |   |   |--- feature_1 <= 0.50
|   |   |   |   |--- feature_0 <= 59.00
|   |   |   |   |   |--- feature_11 <= 0.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_11 >  0.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_0 >  59.00
|   |   |   |   |   |--- class: 1
|   |   |   |--- feature_1 >  0.50
|   |   |   |   |--- feature_4 <= 245.50
|   |   |   |   |   |--- feature_11 <= 0.50
|   |   |   |   |   |   |--- feature_9 <= 2.65
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_9 >  2.65
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_11 >  0.50
|   |   |   |   |   |   |--- feature_3 <= 157.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_3 >  157.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_4 >  245.50
|   |   |   |   |   |--- class: 0
|   |--- feature_12 >  2.50
|   |   |--- feature_7 <= 142.50
|   |   |   |--- feature_4 <= 311.00
|   |   |   |   |--- class: 0
|   |   |   |--- feature_4 >  311.00
|   |   |   |   |--- class: 1
|   |   |--- feature_7 >  142.50
|   |   |   |--- feature_9 <= 1.95
|   |   |   |   |--- feature_3 <= 151.00
|   |   |   |   |   |--- feature_10 <= 1.50
|   |   |   |   |   |   |--- feature_4 <= 236.50
|   |   |   |   |   |   |   |--- feature_11 <= 2.00
|   |   |   |   |   |   |   |   |--- feature_9 <= 1.45
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_9 >  1.45
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_11 >  2.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_4 >  236.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_10 >  1.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_3 >  151.00
|   |   |   |   |   |--- feature_2 <= 2.50
|   |   |   |   |   |   |--- feature_0 <= 53.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_0 >  53.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  2.50
|   |   |   |   |   |   |--- feature_9 <= 0.40
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_9 >  0.40
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_9 >  1.95
|   |   |   |   |--- feature_9 <= 4.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_9 >  4.00
|   |   |   |   |   |--- class: 1

LR using ONEDAL to check efficiency (Logistic Regression)

In [24]:
from timeit import default_timer as timer
from sklearn import metrics
from IPython.display import HTML
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split

predictors = dataset.drop("target",axis=1)
target = dataset["target"]

X_train,X_test,Y_train,Y_test = train_test_split(predictors,target,test_size=0.20,random_state=0)

In [31]:
from sklearn.linear_model import LogisticRegression

params = {
    'C': 0.1,
    'solver': 'lbfgs',
    'multi_class': 'multinomial',
    'n_jobs': -1,
}
start = timer()
classifier = LogisticRegression(**params).fit(X_train, Y_train)
train_patched = timer() - start
f"Intel® extension for Scikit-learn time: {train_patched:.2f} s"

'Intel® extension for Scikit-learn time: 0.05 s'

In [30]:
y_predict = classifier.predict_proba(X_test)
log_loss_opt = metrics.log_loss(Y_test, y_predict)
f"Intel® extension for Scikit-learn Log Loss: {log_loss_opt} s"

'Intel® extension for Scikit-learn Log Loss: 0.3881409787262274 s'

Comparing the same model with normal Scikit learn

In [77]:
from sklearnex import unpatch_sklearn
unpatch_sklearn()

In [29]:
from sklearn.linear_model import LogisticRegression

start = timer()
classifier = LogisticRegression(**params).fit(X_train, Y_train)
train_unpatched = timer() - start
f"Original Scikit-learn time: {train_unpatched:.2f} s"

'Original Scikit-learn time: 0.05 s'

In [33]:
y_predict = classifier.predict_proba(X_test)
log_loss_opt = metrics.log_loss(Y_test, y_predict)
f"Intel® extension for Scikit-learn Log Loss: {log_loss_opt} s"

'Intel® extension for Scikit-learn Log Loss: 0.3881409787262274 s'

from the experiment its infer that oneDAL models using intel extensions are very easy to implement and are very efficient and reliable in terms of accuracy and Execution time. In this experiment we tried with Logistic Regression and Decision tree classifier.